body {
    margin: 0;
    padding: 0;
    background: #f1f1f1;
}

.content-box {
    padding: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background: #ffffff;
}
#wallpaper-tbl{
    width: 100% !important;
}
