body {
    margin: 0;
    padding: 0;
    background: #f1f1f1;
}

.content-box {
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    background: #ffffff;
}