RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule   ^api/([^/]+)/([^/]+)/([0-9]+)   api/index.php?type=$1&action=$2&id=$3 [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule   ^api/([^/]+)/([^/]+)   api/index.php?type=$1&action=$2 [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule   ^api/([^/]+)  api/index.php?type=$1 [NC,L]

